@model Labb2Dissys.Models.Auctions.AuctionDetailsVm

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Auction Details</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Seller)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Seller)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StartingPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartingPrice)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsActive)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HighestBid)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HighestBid)
        </dd>
    </dl>
</div>

<div>
    <h4>Bids</h4>
    <hr />
    @if (Model.Bids.Any())
    {
        <table class="table">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Bids.First().Bidder)</th>
                    <th>@Html.DisplayNameFor(model => model.Bids.First().Amount)</th>
                    <th>@Html.DisplayNameFor(model => model.Bids.First().Timestamp)</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var bid in Model.Bids)
                {
                    <tr>
                        <td>@Html.DisplayFor(m => bid.Bidder)</td>
                        <td>@Html.DisplayFor(m => bid.Amount)</td>
                        <td>@Html.DisplayFor(m => bid.Timestamp)</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No bids yet.</p>
    }
</div>

<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary" }) |
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
